<mat-toolbar color="primary" style="height: 56px;">
    <mat-toolbar-row>
        <span>Github Profile Dashboard</span>
        <span style="flex: 1 1 auto;"></span>
        <div style="margin-top:10px">
            <mat-form-field appearance="outline" style="width:400px;">
                <input matInput placeholder="username here" autocomplete="off">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="parent-container">
    <div class="ng-profile-container">
        <ng-profile></ng-profile>
    </div>
    <div>
        <!-- <react-element></react-element> -->
    </div>
</div>