.react {
    width: 100%;
    height: 100%;
}

.angular {
    width: 100%;
}

.search-bar {
    height: 56px;
    justify-content: center;
    display: flex;
    padding-top: 15px;
}

.mat-focused {
    opacity: 0.6;
}

.instruction {
    display: flex;
    align-items: center;
}

.username-input {
    font-size: 14pt;
}

.grid{
    display: flex; 
    width: 100%; 
    margin-top: 10px; 
    justify-content: center; 
}
